.goal {
  border-radius: 50%;
  border: 1px solid white;
  width: 30vw;
  height: 30vw;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 32px !important;
  margin: auto;
}

.goalName {
  color: white;
  text-align: center;
  padding-top: 25%;
  max-width: 85%;
  margin: auto;
  font-size: 3vw;
  overflow-wrap: break-word;
  padding-top: 38%;
}

@media only screen and (min-width: 440px) {
  .goalName {
    font-size: 14px;
  }
}
