.goalDashboardPadding {
  min-width: 100vw;
}

.userDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.goal-dashboard-name {
  color: white;
  font-weight: bold;
  vertical-align: middle;
  line-height: 64px;
  margin-left: 16px;
}

.userImage {
  border-radius: 50%;
}

.goalDescription {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: white;
  width: 100vw;
  text-align: center;
}

.goalHeader {
  font-weight: bold;
  text-align: center;
  line-height: normal;
  font-size: 36px;
  background: linear-gradient(266.08deg, #e93744 12.21%, #dd1581 100.07%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin: 55px 10px 10px 10px;
}

.chooseGoalsBtn {
  background: linear-gradient(
    266.08deg,
    #e93744 12.21%,
    #dd1581 100.07%
  ) !important;
  border-radius: 5px !important;
  width: 232px;
  height: 60px;
  line-height: 60px;
  color: white !important;
  font-size: 23px !important;
  font-weight: 700 !important;
  margin-top: 38px !important;
  padding: 16px;
}

.goalDashboardContainer {
  width: 100vw;
}
