.dashboardContainer {
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

.dashboardUserImage {
  border-radius: 50%;
}

.dashboardUserName {
  color: white;
  font-weight: bold;
  vertical-align: middle;
  line-height: 64px;
  margin-left: 16px;
}

.dashboardGoalText {
  background: linear-gradient(266.08deg, #e93744 12.21%, #dd1581 100.07%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-top: 8px !important;
  margin-bottom: 0;
  text-align: left;
  margin-left: 12px;
  margin-right: 3px;
}

.dashboardChallengesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.dashboardNudgeTitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.dashboardNudgeContainer {
  border: 2px solid white;
  border-radius: 20px;
  max-width: 85vw;
  margin: auto;
}

.noNudgeText {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.dashboardNudgeContainer {
  padding: 16px;
}

.dashboardNudgeRowContainer {
  background-color: white;
  border-radius: 12px;
  margin-bottom: 4px;
}

.dashboardNudgeRow {
  color: #250041;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  border-radius: 12px;
  margin: 8px;
  text-align: left;
  width: 95%;
}

.dashboardRelationshipTypeNextBtn {
  cursor: pointer;
  margin-top: 16px !important;
  margin-bottom: 16px;
  height: 45px !important;
  line-height: 45px !important;
  align-self: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.newGoals {
  width: 90% !important;
  background: linear-gradient(180deg, #dd1581 0%, #e93744 100%);
  margin: auto;
  padding: 32px;
}

.newGoalsText {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.goal-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.share-circle {
  background: linear-gradient(266.08deg, #e93744 12.21%, #dd1581 100.07%);
  border-radius: 50%;
  height: 22px !important;
  width: 22px !important;
  place-self: flex-end;
  margin: 8px 0 0 0;
}
