.day-component {
  transition: height 0.2s linear;
  margin: 6px 8px 18px 8px;
  background: linear-gradient(82.51deg, #e93744 8.67%, #dd1581 89.91%);
  border-radius: 20.7246px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-content {
  background-color: #250041 !important;
  width: 98% !important;
  height: calc(100% - 40px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.day-text {
  vertical-align: middle;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12.4348px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
}

.day-partner-image {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  vertical-align: middle;
  margin-bottom: 4px;
}

.day-box-text {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  padding: 8px;
  margin: 0 !important;
}

.day-btn {
  width: 72.54px !important;
  height: 24.87px !important;
  border-radius: 25px !important;
  font-size: 14px !important;
  /* line-height: 24px !important; */
  margin: 12px 15px 20px 0px !important;
  background: linear-gradient(
    266.08deg,
    #e93744 12.21%,
    #dd1581 100.07%
  ) !important;
  padding: 1px !important;
  cursor: pointer;
  /* position: absolute !important; */
  /* right: 0 !important;
  bottom: 38px !important; */
  color: white !important;
  align-self: flex-end;
  position: absolute;
  bottom: 30px;
}
