.finishedGoalContainer {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: white !important;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.finishedGoalHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: self-start;
  margin: 38px 30px 8px 25px;
}

.finishedGoalHeaderText {
  font-size: 22px;
  margin-left: 8px;
}

.logo-circle-goals {
  background: #250041;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finishedGoalName {
  color: #250041 !important;
  font-weight: bold;
  font-size: 45px;
  margin: 5px;
}

.finishedGoalDescription {
  color: #250041;
  font-weight: 400;
  min-width: 275px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 0px 57px 16px 57px;
}

.finishedGoalText {
  background: linear-gradient(266.08deg, #e93744 12.21%, #dd1581 100.07%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin: 32px;
  margin-bottom: 64px;
}

.finished-goal {
  border: 3px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(white, white),
    linear-gradient(266.08deg, #e93744 12.21%, #dd1581 100.07%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0px 0px 0px;
  width: 370px;
}

.finished-goals-text {
  border: none;
  color: #250041;
  background-color: none;
  font-size: 16px;
  margin: 10px !important;
}

.share-finished-goals-circle {
  background: linear-gradient(266.08deg, #e93744 12.21%, #dd1581 100.07%);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  place-self: flex-end;
  margin: 8px 0 0 0;
  box-shadow: 0 5px 4px -1px grey;
}
