.col {
  padding: 0 !important;
  display: flex;
  align-items: center;
}

.row {
  --bs-gutter-x: 0rem;
}

.navbarUserImage {
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.navRow {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  float: right;
}

.navbarUserName {
  color: white;
  font-weight: bold;
  vertical-align: middle;
  line-height: 64px;
  margin-left: 16px;
}

.navbarUserDetails {
  position: absolute;
  right: 32px !important;
}

.navbarUserDetailsOpen {
  background-color: #c9c0d0;
  z-index: 100000;
  width: 200px;
  padding: 16px;
  position: absolute;
  top: 1px;
}

.navbarCloseBtn {
  float: left;
  margin-right: 90px;
}



.optionLogout {
  margin-top: 32px;
  font-size: 18px;
  color: #706a6a;
  text-align: right;
}

.logo-circle {
  background: none;
  border: 2px solid white;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin-left:5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.openClose {
  height: 55px;
  float:right;
}


.overall-menu-container{
  position:relative;
  background-color: #250041;
}


.dropdown-menu {
  text-align: right;
  color:white !important;
  font-size: 25px;
  position: absolute;
}

.dropdown-links {
  font-size: 16 !important;
  font-weight: bold !important;
  text-align: right !important;
  color:white !important;
  width:100% !important;
  
}



.overallHeaderContainer{
  width:100%;
  position:relative;
}

.headerContentContainer {
  width:100%;
  padding: 32px 10px 32px 18px;
  display: table !important;
}


.logoContainer {
  display: table-cell;
  float:left;
  vertical-align: middle;
}


.loggedInRightSideContainer {
  margin: 7px;
  display: flex;
  justify-content: space-between;
  width:120px;
  float:right;
}

.loggedOutRightSideContainer {
  margin: 7px;
  display: flex;
  justify-content: space-between;
  width:220px;
  float:right;
}



.signUpButton {
  background: linear-gradient(
    180deg,
    #E93744 0%,
    #DD1581 100%
  ) !important;
  border-radius: 15px !important;
  height: 50px !important;
  color: black !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  padding: 15px 16px !important;
  min-width: 100px !important;
  display:inline-block !important;
  text-align:center;
  vertical-align: middle;

}


.signInButton {
  background: linear-gradient(
  180deg,
  #250041 100%,
  #DD1581 100%
) !important;
  
  border: 3px solid #DD1581 !important;
  border-radius: 15px !important;
  height: 50px !important;
  color: White !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  padding: 13px 16px !important;
  min-width: 100px !important;
  display:inline-block !important;
  text-align:center;
  vertical-align: middle;
  margin-right:10px;

  
}





/* --------------------------------------------------------*/
/* Desktop-specific elements */

.desktopRightSideContainer {
  margin: 7px;
  display: flex;
  float:right;
  align-items: right;
  justify-content: space-between;
  width:42%;
  margin-right:3%;
}

.desktopAdditionalLinks {
  margin: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  text-align: right;
  color:white !important;
  font-size: 18px;
  font-weight:700;
  vertical-align: middle;
}


.stylingHolder {
  width:100%;
  background:white;
}