.landingContainer {
  background-color: #250041 !important;
}

body {
  background-color: #250041 !important;
}

.chosnHeader {
  color: white;
  font-size: 42px;
  font-weight: bold;
  text-align: left;
}

.chosnWorkHeader {
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.chosnText {
  color: white;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

.accountExistText {
  color: white;
  font-size: 12px;
  text-align: left !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 15px 0px 15px;
}

.signInBtn {
  font-size: 16px;
  background: linear-gradient(266.08deg, #e93744 12.21%, #dd1581 100.07%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding: 2px;
}

.landingContainer {
  margin-top: 75px;
  width: 100% !important;
}

.screenImage {
  max-height: 550px;
  float: top;
  margin: -58px;
}

.landingBtn {
  width: 232px !important;
  margin: 0 !important;
  float: left;
}

.joinBtnContainer {
  min-width: 232px !important;
  margin: 0;
  margin-top: 64px !important;
}

.chosnLogo {
  width: 90px;
  height: 100px;
  float: right;
}

@media only screen and (max-width: 767px) {
  .chosnLogo {
    float: left !important;
  }

  .screenImage {
    max-height: 330px;
    margin: 9px 0px 5px 0px;
  }
}

@media only screen and (min-width: 768px) {
  .screenImage {
    max-height: 368px;
    margin: 59px 0px 20px 117px;
  }
}
