.font {
    font-family: "Open Sans", sans-serif;
  }

.footerBackground {
    background-color: white !important;
    width: 100% !important;
    
    align-items: center !important;
}


.footerBody {
    background-color: white !important;
    width: 1000px !important;;
    margin: auto !important;
    overflow: hidden; /* will contain if #first is longer than #second */
    align-items: center;
    line-height: 1.2 !important;
}


.footerLeftBox {
    width: 50% !important;
    float: left !important;
    line-height: 2 !important;
    font-size: 12 !important;
}

.footerRightBox {
    width: 50% !important;
    float: left !important;
    line-height: 2 !important;
    font-size: 12 !important;
}

.boldedText {
    font-weight: bold !important;
}

.logosContainer {
    width: 100px !important;
    height: auto !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: left !important;
    margin-left: -2px !important;
    
}

.socialMediaLogos {
    margin-right: 10px !important;
    float: left !important;
}

.linkText {
    color:black !important;
}


/* --------------------------------------------------------*/
/* Mobile-specific elements */

.mobileFooterBody1 {
    background-color: white !important;
    width: 80% !important;;
    margin: auto !important;
    overflow: hidden; /* will contain if #first is longer than #second */
    line-height: 1.2 !important;
    justify-content: space-around !important;
}

.mobileFooterBody2 {
    background-color: white !important;
    width: 100% !important;;
    margin: auto !important;
    overflow: hidden; /* will contain if #first is longer than #second */
    line-height: 1.2 !important;
    justify-content: space-around !important;
}

.mobileFooterLeftBox {
    width: 50% !important;
    float: left !important;
    line-height: 2 !important;
    font-size: 12 !important;
}

.mobileFooterRightBox {
    width: 50% !important;
    float: right !important;
    line-height: 2 !important;
    font-size: 12 !important;
}

