.centered {
  text-align: center;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  background: #250041;
  text-align: center;
  display: flex;
  overflow-x: hidden;
}

.logo {
  margin-top: 60px;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

.header1 {
  margin-top: 100px;
}

.header1 header {
  margin-left: 20px;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
}

.desc1 {
  margin-top: 70px;
  text-align: left;
  margin-left: 20px;
}

.desc1 p {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.App-header {
  background-color: #250041;

  font-size: calc(10px + 2vmin);
  color: white;
}

.leftButton {
  text-align: left;
  margin-left: 20px;
  margin-top: 80px;
}

.leftButton button {
  width: 200px;
  height: 50px;
  background-image: linear-gradient(to right, #e93744, #dd1581 51%);
  border: none;
  box-shadow: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 23px;
}
