.question-answer-container {
  margin-top: 25px;
  width: 65%;
  max-width: 275px;
}

.answer-selection {
  height: 50px;
  width: 95%;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: white;
  color: black;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 5px 0 5px 0;
  padding: 0 0 0 8px;
  text-transform: none;
  text-align: left;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
  -webkit-user-select: none;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
}

.btn-active {
  height: 50px;
  width: 95%;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 5px 0 5px 0;
  padding: 0 0 0 8px;
  text-transform: none;
  text-align: left;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
  -webkit-user-select: none;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
  background: linear-gradient(266.08deg, #e93744 12.21%, #dd1581 100.07%);
  color: white;
}

.answer-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e52f52;
  border-radius: 10px;
  padding: 8px 3px 8px 3px;
}

.daily-activity-header {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0 0 4px 0;
}

.daily-question-box {
  background: linear-gradient(266.08deg, #e93744 12.21%, #dd1581 100.07%);
  height: 100px;
  border-radius: 5px;
  text-align: left;
  margin: 0 0 8px 0;
}

.daily-question-header {
  font-size: 14px;
  padding: 10px 0px 3px 10px;
  margin: 0;
}

.daily-question-text {
  font-size: 13px;
  padding-left: 10px;
}

.question-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0px 10px 0px;
}

.next-question-btn {
  cursor: pointer;
  display: block;
  background: linear-gradient(
    266.08deg,
    #e93744 12.21%,
    #dd1581 100.07%
  ) !important;
  border-radius: 4px !important;
  border: none;
  width: 144px !important;
  height: 38px !important;
  color: white !important;
  font-size: 22px !important;
  font-weight: 700 !important;
  margin: 22px 0px 25px 0 !important;
  padding: 0 !important;
}

.error-text {
  color: red;
  font-size: 14px;
  margin: 0;
}
